@model IEnumerable<CentACS.Admin.Data.tblWorkplace_LanguageCompetencyName>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LanguageKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencyKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.LanguageCompetencyNameKey }) |
                @Html.ActionLink("Details", "Details", new { id=item.LanguageCompetencyNameKey }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LanguageCompetencyNameKey })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
