@model CentACS.Admin.Data.tblWorkplace_LanguageConsultantBlend

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblWorkplace_LanguageConsultantBlend</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LanguageKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LanguageKey)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BlendEnum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BlendEnum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Blend)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Blend)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EnglishName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EnglishName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EnglishDefinition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EnglishDefinition)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpanishName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpanishName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpanishDefinition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpanishDefinition)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GermanName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GermanName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GermanDefinition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GermanDefinition)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChineseName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChineseName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChineseDefinition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChineseDefinition)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PortugueseName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PortugueseName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PortugueseDefinition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PortugueseDefinition)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultantBlendKey }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
