@model IEnumerable<CentACS.Admin.Models.ProductModel>

<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="btn-group pull-right">
                <a href="@Url.Action("Create")" class="btn btn-primary">Create</a>
            </div>
            <h2>Products</h2>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        <div class="container-fluid">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <span class="text-primary">@item.Name</span>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="btn-group pull-right">
                                          <a href="@Url.Action("Edit", new {  id = item.Key })" class="btn btn-default">Edit</a>
                                          <a href="@Url.Action("Details", new {  id = item.Key })" class="btn btn-default">Details</a>
                                          <a href="@Url.Action("Delete", new {  id = item.Key })" class="btn btn-default">Delete</a>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
