@model CentACS.Admin.Data.tblWorkplace_LanguageCapacitorReport

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblWorkplace_LanguageCapacitorReport</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LanguageKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LanguageKey)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReportHeader)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportHeader)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstimatedFit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstimatedFit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InterpretationOfFit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InterpretationOfFit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FitLegend)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FitLegend)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OptimumHeader)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OptimumHeader)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ActualHeader)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ActualHeader)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AvailableHeader)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AvailableHeader)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DescriptionHeader)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DescriptionHeader)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IndicatorPrefix)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IndicatorPrefix)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SourceText)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SourceText)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LanguageCapacitorCompReportKey }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
