@model CentACS.Admin.Data.tblWorkplace_LanguageConsultantResponseBias

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblWorkplace_LanguageConsultantResponseBias</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LanguageKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LanguageKey)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResponseBias)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResponseBias)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResponseBiasText)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResponseBiasText)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LangaugeResponseBiasKey }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
