@model CentACS.Admin.Data.tblWorkplace_LanguageCapacitorInterpretation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblWorkplace_LanguageCapacitorInterpretation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LanguageKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LanguageKey)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FitInterpretation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FitInterpretation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CapacitorInterpretationKey }) |
        <a href="@Url.Action("Details", "Translation", new { languageKey = Model.LanguageKey, productKey = 2 })">Back</a>
    </p>
</body>
</html>
